

.name {
    color: rgb(255, 175, 3);
}

.img-fluid{
     
    min-width: 200px;
    min-width: 200px; 
    width: 200px;
    height: 200px;
}

.space{
 margin:120px 0px ;

}

.links{
    margin: 15px;
    display: flex;
    justify-content: space-evenly;

}

